/* Main css */

/* ------------ Header ------------ */



/* ------------ Menu deroulant ------------ */

.base_li_menu{
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
#menu_deroulant_principal ul {
    background-color:#64abfb;
    padding:0;
    margin:0;
    position: center;
}
#menu_deroulant_principal ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#64abfb;
}
#ul_menu{
    text-align: center;
}
#menu_deroulant_principal ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
#menu_science_deroulant a:hover {
    border-bottom:3px #FFF solid;
}
#menu_deroulant_principal ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
#menu_deroulant_principal ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
}
#menu_deroulant_principal ul li:hover ul li {
    float:none;
}

/* ------------ footer ------------ */

#footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    text-align: center;
}